<!doctype html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vitro.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/menupage.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/rab.css') }}">
    {% block pagecss %}
    {% endblock %}
    <title>R@B Visualizations</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <header id="branding" role="banner">
      <h1 class="vitro-logo"><a title="Researchers @ Brown" href="/"><span class="displace">Researchers @ Brown</span></a></h1>

      <nav role="navigation">
          <ul id="header-nav" role="list">
            <li role="listitem"><a class="log-out" title="log in to manage this site" href="/manager">Manage your profile</a></li>
          </ul>       
      </nav>
   
      <section id="search" role="region">
          <fieldset>
              <legend>Search form</legend>

              <form id="search-form" action="https://vivo.brown.edu/search" name="search" role="search" accept-charset="UTF-8" method="POST"> 
                  <div id="search-field">
                      <input type="text" name="querytext" class="search-vitro" value="" autocapitalize="off" />
                      <input type="submit" value="Search" class="search">
                  </div>
              </form>
          </fieldset>
      </section>
    </header>

    <nav role="navigation">
        <ul id="main-nav" role="list">
          <li role="listitem"><a href="https://vivo.brown.edu"  title="menu item">Home</a></li>
          <li role="listitem"><a href="https://vivo.brown.edu/people"  title="menu item">People</a></li>
          <li role="listitem"><a href="https://vivo.brown.edu/ous"  title="menu item">Organizations</a></li>
          <li role="listitem"><a href="https://vivo.brown.edu/graphs"  class="selected"  title="menu item">Graphs</a></li>
          <li role="listitem"><a href="https://vivo.brown.edu/help"  title="menu item">Help</a></li>
        </ul>
    </nav>
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    {% block footer %}
    <div id="footer">
      <footer role="contentinfo">
          <p class="copyright">
                  <small>&copy;2016
                      <a href="http://www.brown.edu" title="copyright">Brown University</a>
                   | <a class="terms" href="https://vivo.brown.edu/termsOfUse" title="Terms of Use">Terms of Use</a></small> | 
              Powered by <a class="powered-by-vivo" href="http://vivoweb.org" target="_blank" title="powered by VIVO"><strong>VIVO</strong></a></a>
          </p>
          <nav role="navigation">
              <ul id="footer-nav" role="list">
                  <li role="listitem"><a href="https://vivo.brown.edu/about" title="about">About</a></li>
                      <li role="listitem"><a href="https://docs.google.com/a/brown.edu/forms/d/1H_LzEHRzpxv3OY266RjSwpAMwVuTEUFyNEgMPcZ4NiA/viewform" title="contact us">Contact Us</a></li>
              </ul>
          </nav>
      </footer>
    </div>
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    {% block pagejs %}{% endblock %}
  </body>
</html>