{% extends "base.html" %}
{% block pagecss %}
<style>

  .chord {
    fill-opacity: .67;
  }

  .fade {
    display:none;
  }

  svg {
    width: 100%;
    height: 600px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .ui-tabs-nav {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
  }

  .ui-tabs-nav li {
    margin: 0 5px;
    padding: 0 5px;
    background-color: none;
    display: inline-block;
  }

  .ui-tabs-nav li.ui-tabs-active {
    background-color: #d3d3d3;
    color: #000;
  }

  #thumb {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
  }

  .deptBug {
    float: left;
    width: 10px;
    height: 10px;
    margin: 3px 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  .slct-ctrl {
    background-color: #d3d3d3;
  }

  .clickedOn {
    background-color: #ffb00f;
  }
</style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 graphBox">
          </div>
        </div>
        <div id="facTabs">
          <div class="row">
            <div class="col-md-12">
              <h3>Coauthors</h3>
              <ul>
                {% for tab in faculty %}
                  <li><a href="#factab-{{loop.index}}">{{tab.tab}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            {% for tab in faculty %}
              <div id="factab-{{loop.index}}">
                {% for col in tab.tabContents %}
                  <div class="col-md-3">
                    <ul>
                      {% for fac in col %}
                        <li id="{{fac.rabid}}" class="viz-ctrl faculty-ctrl">
                          <a href="{{fac.graphid}}">{{fac.abbv}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="membersBox" class="col-md-4">
        <div id="subjectDetails" class="row">
          <div class="col-md-12">
            {% if vizSubject.thumb %}
              <img id="thumb" src="{{ vizSubject.thumb }}" />
            {% endif %}
            <h2>{{ vizSubject.name }}</h2>
            {% if vizSubject.title %}
              <h3>{{ vizSubject.title }}</h3>
            {% endif %}
          </div>
        </div>
        <div id="deptTabs">
          <div class="row">
            <div class="col-md-12">
              <h3>Coauthor Affiliations</h3>
              <ul>
                {% for tab in departments %}
                  <li><a href="#depttab-{{loop.index}}">{{tab.tab}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            {% for tab in departments %}
              <div id="depttab-{{loop.index}}" class="col-md-12">
                <ul>
                  {% for dept in tab.tabContents %}
                    <li id="{{ dept.rabid }}" class="viz-ctrl dept-ctrl">
                      <span id="bug-{{dept.rabid}}" class="deptBug"></span>
                      <a href="{{dept.graphid}}">{{dept.name}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block pagejs %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
  <script type="text/javascript">

            var midx = {{ memberIndex|tojson|safe }};

            var dgrps = {{ dataGroups|tojson|safe }};

            var matrix = {{ vizdata|tojson|safe }};

            var facObjs = {{ facObjs|tojson|safe }};

            var deptObjs = {{ deptObjs|tojson|safe }};

            var chord_uri_base = "http://localhost:8000/chord/";

            var svg_width = 800;
            var svg_height = 600;
            var c_width  = 525;
            var c_height = 525;

            var innerRadius = Math.min(c_width, c_height) * 0.37;
            var outerRadius = Math.min(c_width, c_height) * 0.39;

            var fill = d3.scale.category20().domain(dgrps);

            var chord = d3.layout.chord()
                    .padding(0.05)
                    .sortSubgroups(d3.descending)
                    .sortChords(d3.descending);

            var arc = d3.svg.arc()
                  .innerRadius(innerRadius)
                  .outerRadius(innerRadius + 20);

            var svg = d3.select("div.graphBox").append('svg')
                    .attr('width', svg_width)
                    .attr('height', svg_height)
                    .append("g")
                      .attr("transform", "translate(" + 400 + "," + 300 + ")");;

            chord.matrix(matrix);

            var g = svg.selectAll(".group")
                .data(chord.groups)
              .enter().append("g")
                .attr("class", "group");

            g.append("path")
                .style("fill", function(d) { return fill(midx[d.index].aff); })
                .style("stroke", function(d) { return fill(midx[d.index].aff); })
                .attr("d", arc);

            g.append("text")
                .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2; })
                .attr("dy", ".35em")
                .attr("style", function(d) { return "font-size: 0.8em;"; } )
                .attr("transform", function(d) {
                  return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
                      + "translate(" + (innerRadius + 26) + ")"
                      + (d.angle > Math.PI ? "rotate(180)" : "");
                })
                .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
                .text(function(d) { return midx[d.index].abbv ; });

            svg.selectAll(".chord")
                .data(chord.chords)
              .enter().append("path")
                .attr("class", "chord")
                .style("stroke", function(d) { return d3.rgb(fill(midx[d.target.index].aff)).darker(); })
                .style("fill", function(d) { return fill(midx[d.target.index].aff); })
                .attr("d", d3.svg.chord().radius(innerRadius));

    $(function() {
      $("#facTabs").tabs();
      $("#deptTabs").tabs();
      $(".deptBug").each(function () {
          setDeptColor($(this));
      });
      $(".faculty-ctrl").each(function () {
          attachFacultyNodes($(this));
      });
      $(".dept-ctrl").each(function () {
          attachDepartmentNodes($(this));
      });
    });

    function setDeptColor(deptBug) {
      var group = deptBug.attr('id').substring(4);
      deptBug.attr("style", "background: "+fill(group));
    }

    // function clickInteraction(ctrlElement) {
    //       $(".group text").removeClass("fade");
    //       $(".chord").removeClass("fade");
    //       if ($(this).is(".clickedOn")) {
    //         $(this).removeClass("clickedOn");
    //       } else {
    //         $(".viz-ctrl").removeClass("clickedOn");
    //         $(this).addClass("clickedOn");
    //         focusSubNet(focus,subnet);
    // }

    function attachInteractivity(ctrlElement, ctrlFocus, ctrlNet) {
      ctrlElement
        .on("click", function() {
          $(".group text").removeClass("fade");
          $(".chord").removeClass("fade");
          if ($(this).is(".clickedOn")) {
            $(this).removeClass("clickedOn");
          } else {
            $(".viz-ctrl").removeClass("clickedOn");
            $(this).addClass("clickedOn");
            focusSubNet(ctrlFocus,ctrlNet);
          }
        })
        .hover(function() {
          $(this).addClass("slct-ctrl");
        },
        function() {
          $(this).removeClass("slct-ctrl");
        });  
    }

    function attachFacultyNodes(facCtrl) {
      var rabid = facCtrl.attr('id');
      var focus = []; 
      focus.push(facObjs[rabid]["facIdx"]);
      var subnet = facObjs[rabid]["facNet"];
      subnet.push(facObjs[rabid]["facIdx"]);
      attachInteractivity(facCtrl, focus, subnet);
    }

    function attachDepartmentNodes(deptCtrl) {
      var rabid = deptCtrl.attr("id");
      var focus = deptObjs[rabid]["deptMembers"];
      var subnet = deptObjs[rabid]["deptNet"];
      subnet = subnet.concat(focus);
      attachInteractivity(deptCtrl, focus, subnet);
    }

    function focusSubNet(focus, subnet) {
      d3.selectAll(".chord").classed("fade", function (p) {
        return ($.inArray(p.source.index, focus) == -1)  
                && ($.inArray(p.target.index, focus) == -1)
      });
      $(".group text").filter(function (index) {
        return $.inArray(index, subnet) == -1;
      }).addClass("fade");
      // d3.selectAll(".group").classed("fade", function (p) {
      //   return ($.inArray(p.index, subnet) == -1)
      // });
    }

    function unfocusSubNet() {
      
    }

  </script>
{% endblock %}