{% extends "base.html" %}
{% block pagecss %}
<style>
  /*body {
    font: 10px sans-serif;
    width: 1200px;
    margin: 0 auto;
  }

  header {
    background-color: purple;
    height: 120px;
  }*/

  .chord {
    fill-opacity: .67;
  }

  path.fade {
    display:none;
  }


  svg {
    width: 100%;
    height: 600px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .ui-tabs-nav {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
  }

  .ui-tabs-nav li {
    margin: 0 5px;
    padding: 0 5px;
/*    border: 1px solid #AAA;*/
    background-color: none;
    display: inline-block;
  }

  .ui-tabs-nav li.ui-tabs-active {
    background-color: #d3d3d3;
    color: #000;
  }

/*  .bugHouse {
    float: left;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
  }*/

/*  #groupsBox {
    border: 1px solid gray;
    padding: 5px 5px 5px 10px;
  }

  #membersBox {
    border: 1px solid gray;
    padding: 5px 5px;
  }*/

  #thumb {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
  }

  .deptBug {
    float: left;
    width: 10px;
    height: 10px;
    margin: 3px 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  .slct-ctrl {
    background-color: #d3d3d3;
  }

  .clickedOn {
    background-color: #ffb00f;
  }
</style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 graphBox">
          </div>
        </div>
        <div id="facTabs">
          <div class="row">
            <div class="col-md-12">
              <h3>Coauthors</h3>
              <ul>
                {% for tab in faculty %}
                  <li><a href="#factab-{{loop.index}}">{{tab.tab}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            {% for tab in faculty %}
              <div id="factab-{{loop.index}}">
                {% for col in tab.tabContents %}
                  <div class="col-md-3">
                    <ul>
                      {% for fac in col %}
                        <li id="{{fac.rabid}}" class="faculty-ctrl">
                          <a href="{{fac.graphid}}">{{fac.abbv}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="membersBox" class="col-md-4">
        <div id="subjectDetails" class="row">
          <div class="col-md-12">
            {% if vizSubject.thumb %}
              <img id="thumb" src="{{ vizSubject.thumb }}" />
            {% endif %}
            <h2>{{ vizSubject.name }}</h2>
            {% if vizSubject.title %}
              <h3>{{ vizSubject.title }}</h3>
            {% endif %}
          </div>
        </div>
        <div id="deptTabs">
          <div class="row">
            <div class="col-md-12">
              <h3>Coauthor Affiliations</h3>
              <ul>
                {% for tab in departments %}
                  <li><a href="#depttab-{{loop.index}}">{{tab.tab}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            {% for tab in departments %}
              <div id="depttab-{{loop.index}}" class="col-md-12">
                <ul>
                  {% for dept in tab.tabContents %}
                    <li id="{{ dept.rabid }}" class="dept-ctrl">
                      <span id="bug-{{dept.rabid}}" class="deptBug"></span>
                      <a href="{{dept.graphid}}">{{dept.name}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block pagejs %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
  <script type="text/javascript">

            var midx = {{ memberIndex|tojson|safe }};

            var dgrps = {{ dataGroups|tojson|safe }};

            var matrix = {{ vizdata|tojson|safe }};

            var facObjs = {{ facObjs|tojson|safe }};

            var deptObjs = {{ deptObjs|tojson|safe }};

            var chord_uri_base = "http://localhost:8000/chord/";

            var svg_width = 800;
            var svg_height = 600;
            var c_width  = 525;
            var c_height = 525;

            var innerRadius = Math.min(c_width, c_height) * 0.37;
            var outerRadius = Math.min(c_width, c_height) * 0.39;

            var fill = d3.scale.category20().domain(dgrps);

            var chord = d3.layout.chord()
                    .padding(0.05)
                    .sortSubgroups(d3.descending)
                    .sortChords(d3.descending);

            var arc = d3.svg.arc()
                  .innerRadius(innerRadius)
                  .outerRadius(innerRadius + 20);

            var svg = d3.select("div.graphBox").append('svg')
                    .attr('width', svg_width)
                    .attr('height', svg_height)
                    .append("g")
                      .attr("transform", "translate(" + 400 + "," + 300 + ")");;

            chord.matrix(matrix);

            var g = svg.selectAll(".group")
                .data(chord.groups)
              .enter().append("g")
                .attr("class", "group");

            g.append("path")
                .style("fill", function(d) { return fill(midx[d.index].aff); })
                .style("stroke", function(d) { return fill(midx[d.index].aff); })
                .attr("d", arc);

            g.append("text")
                .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2; })
                .attr("dy", ".35em")
                .attr("style", function(d) { return "font-size: 0.8em;"; } )
                .attr("transform", function(d) {
                  return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
                      + "translate(" + (innerRadius + 26) + ")"
                      + (d.angle > Math.PI ? "rotate(180)" : "");
                })
                .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
                .text(function(d) { return midx[d.index].abbv ; });

            svg.selectAll(".chord")
                .data(chord.chords)
              .enter().append("path")
                .attr("class", "chord")
                .style("stroke", function(d) { return d3.rgb(fill(midx[d.target.index].aff)).darker(); })
                .style("fill", function(d) { return fill(midx[d.target.index].aff); })
                .attr("d", d3.svg.chord().radius(innerRadius));

            // svg.append('g').selectAll('path').data(chord.groups)
            //         .enter()
            //         .append('path').style('fill', function(val) { return fill(labels[val.index][1]); })
            //         .style('stroke', function(val) { return fill(labels[val.index][1]); })
            //         .attr('d', d3.svg.arc().innerRadius(inner_radius).outerRadius(outer_radius))
            //         .on("mouseover", fade(.05))
            //         .on("mouseout", fade(.8));

            // var group_ticks = function (d) {
            //     var k = (d.endAngle - d.startAngle) / d.value;
            //     return d3.range(d.value / 2, d.value, d.value / 2).map(function (v) {
            //         return {
            //             angle: v * k + d.startAngle,
            //             label: Math.round(d.value)
            //         };
            //     });
            // };

            // var chord_ticks = svg.append('g')
            //         .selectAll('g')
            //         .data(chord.groups)
            //         .enter().append('g')
            //         .selectAll('g')
            //         .data(group_ticks)
            //         .enter().append('g')
            //         .attr('transform', function (d) {
            //             return 'rotate(' + (d.angle * 180 / Math.PI - 90) + ') translate(' + outer_radius + ',0)';
            //         });
            // svg.append('g')
            //         .attr('class', 'chord')
            //         .selectAll('path')
            //         .data(chord.chords)
            //         .enter().append('path')
            //         .style('fill', function (d) { return fill(labels[d.target.index][1]); })
            //         .attr('d', d3.svg.chord().radius(inner_radius))
            //         .style('opacity', .8);
            // svg.append("g").selectAll(".arc")
            //         .data(chord.groups)
            //         .enter().append("svg:text")
            //         .attr("dy", ".35em")
            //         .attr("style", function(d) { return "font-size: 1em;"; } )
            //         .attr("text-anchor", function(d) { return ((d.startAngle + d.endAngle) / 2) > Math.PI ? "end" : null; })
            //         .attr("transform", function(d) {
            //             return "rotate(" + (((d.startAngle + d.endAngle) / 2) * 180 / Math.PI - 90) + ")"
            //                     + "translate(" + (c_height *.40) + ")"
            //                     + (((d.startAngle + d.endAngle) / 2) > Math.PI ? "rotate(180)" : "");
            //         })
            //         .text(function(d) {
            //             return labels[d.index][0];
            //         });

                // Returns an event handler for fading a given chord group.
            // function fade(opacity) {
            //   return function(g, i) {
            //     vizbody.selectAll(".chord path")
            //         .filter(function(d) { return d.source.index != i && d.target.index != i; })
            //       .transition()
            //         .style("opacity", opacity);
            //   };
            // }

    $(function() {
      $("#facTabs").tabs();
      $("#deptTabs").tabs();
      $(".deptBug").each(function () {
          setDeptColor($(this));
      });
      $(".faculty-ctrl").each(function () {
          attachFacultyNodes($(this));
      });
      $(".dept-ctrl").each(function () {
          attachDepartmentNodes($(this));
      });
    });

    function setDeptColor(deptBug) {
      var group = deptBug.attr('id').substring(4);
      deptBug.attr("style", "background: "+fill(group));
    }

    function attachFacultyNodes(facCtrl) {
      var rabid = facCtrl.attr('id');
      var facIndex = facObjs[rabid]["facIdx"];
      var subnet = [];
      subnet.push(facIndex);
      facCtrl
        .on("click", function() {
          if ($(this).is(".clickedOn")) {
            $(this).removeClass("clickedOn");
            $(".chord").removeClass("fade");
          } else {
            $(".faculty-ctrl").removeClass("clickedOn");
            $(this).addClass("clickedOn");
            focusSubNet(subnet);
          }
        })
        .hover(function() {
          $(this).addClass("slct-ctrl");
        },
        function() {
          $(this).removeClass("slct-ctrl");
        });
    }

    function attachDepartmentNodes(deptCtrl) {
      var rabid = deptCtrl.attr("id");
      var subnet = deptObjs[rabid]["deptMembers"];
      deptCtrl
        .on("click", function() {
          if ($(this).is(".clickedOn")) {
            $(this).removeClass("clickedOn");
            $(".chord").removeClass("fade");
          } else {
            $(".dept-ctrl").removeClass("clickedOn");
            $(this).addClass("clickedOn");
            focusSubNet(subnet);
          }
        })
        .hover(function() {
          $(this).addClass("slct-ctrl");
        },
        function() {
          $(this).removeClass("slct-ctrl");
        });
    }

    function focusSubNet(subnet) {
      d3.selectAll(".chord").classed("fade", function (p) {
        return ($.inArray(p.source.index, subnet) == -1)  
                && ($.inArray(p.target.index, subnet) == -1)
      });
    }

    function unfocusSubNet() {
      
    }

  </script>
{% endblock %}