<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>

        body {
          font: 10px sans-serif;
        }

        .chord path {
          fill-opacity: .67;
          stroke: #000;
          stroke-width: .5px;
        }

        </style>
        <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/d3-legend.min.js') }}"></script>
    </head>
    <body>
        <script type="text/javascript">

            var deptLabel = {{ deptLabel|tojson|safe }};

            var depts = {{ legend|tojson|safe }};

            var deptURIs = {{ deptMap|tojson|safe }};

            var labels = {{ vizkey|tojson|safe }};

            var matrix = {{ vizdata|tojson|safe }};

            var chord_uri_base = "http://localhost:8000/chord/dept/";

            var chord = d3.layout.chord()
                    .padding(0.05)
                    .sortSubgroups(d3.descending)
                    .matrix(matrix);
            var svg_width = 1200;
            var svg_height = 900;
            var c_width  = 725;
            var c_height = 725;
            var padding = 175;
            var inner_radius = Math.min(c_width, c_height) * 0.37;
            var outer_radius = Math.min(c_width, c_height) * 0.39;
            var fill = d3.scale.category20().domain(depts);
            var legend = d3.legend.color().shape("circle")
                .shapePadding(10)
                .scale(fill)
                .title("Departments")
                .on("cellclick", function(d) {
                    var deptCode = deptURIs[d].substring(33);
                    window.location.replace(chord_uri_base + deptCode);
                })
                .on("cellover", function(d) {
                    embiggen(d,15)
                })
                .on("cellout", function(d) {
                    embiggen(d,10)
                });
            var svg = d3.select('body').append('svg')
                    .attr('width', svg_width)
                    .attr('height', svg_height);
                    
            var vizbody = svg.append('g').attr('transform', 'translate(' + (c_width + padding) / 2 + ',' + (c_height+padding) / 2 +')');

            svg.append("g").attr("class", "legend")
                .attr("transform", 'translate(' + (svg_width - (svg_width - (c_width + padding))) + ',' + ((padding / 2) +30) +')');

            vizbody.append('g').selectAll('path').data(chord.groups)
                    .enter()
                    .append('path').style('fill', function(val) { return fill(labels[val.index][1]); })
                    .style('stroke', function(val) { return fill(labels[val.index][1]); })
                    .attr('d', d3.svg.arc().innerRadius(inner_radius).outerRadius(outer_radius))
                    .on("mouseover", fade(.05))
                    .on("mouseout", fade(.8));

            svg.append("g").append("svg:text")
                .attr("transform", 'translate(' + (svg_width - (svg_width - (c_width + padding))) + ',' + padding / 2 +')')
                .attr("style", "font-size: 3em; font-weight:bold;")
                .text(function(d) {
                        return deptLabel;
                    });

            var group_ticks = function (d) {
                var k = (d.endAngle - d.startAngle) / d.value;
                return d3.range(d.value / 2, d.value, d.value / 2).map(function (v) {
                    return {
                        angle: v * k + d.startAngle,
                        label: Math.round(d.value)
                    };
                });
            };
            var chord_ticks = vizbody.append('g')
                    .selectAll('g')
                    .data(chord.groups)
                    .enter().append('g')
                    .selectAll('g')
                    .data(group_ticks)
                    .enter().append('g')
                    .attr('transform', function (d) {
                        return 'rotate(' + (d.angle * 180 / Math.PI - 90) + ') translate(' + outer_radius + ',0)';
                    });
            vizbody.append('g')
                    .attr('class', 'chord')
                    .selectAll('path')
                    .data(chord.chords)
                    .enter().append('path')
                    .style('fill', function (d) { return fill(labels[d.target.index][1]); })
                    .attr('d', d3.svg.chord().radius(inner_radius))
                    .style('opacity', .8);
            vizbody.append("g").selectAll(".arc")
                    .data(chord.groups)
                    .enter().append("svg:text")
                    .attr("dy", ".35em")
                    .attr("style", function(d) { return "font-size: 1em;"; } )
                    .attr("text-anchor", function(d) { return ((d.startAngle + d.endAngle) / 2) > Math.PI ? "end" : null; })
                    .attr("transform", function(d) {
                        return "rotate(" + (((d.startAngle + d.endAngle) / 2) * 180 / Math.PI - 90) + ")"
                                + "translate(" + (c_height *.40) + ")"
                                + (((d.startAngle + d.endAngle) / 2) > Math.PI ? "rotate(180)" : "");
                    })
                    .text(function(d) {
                        return labels[d.index][0];
                    })
                    .on("mouseover", fade(.05))
                    .on("mouseout", fade(.8));

            svg.select(".legend")
                .call(legend);

            d3.selectAll(".legend .cell").each( function(d, i){
                var label = this.textContent.toLowerCase().replace(/[.',\s]/g,"");
                d3.select(this).attr("id", label);
            });

                // Returns an event handler for fading a given chord group.
            function fade(opacity) {
              return function(g, i) {
                vizbody.selectAll(".chord path")
                    .filter(function(d) { return d.source.index != i && d.target.index != i; })
                  .transition()
                    .style("opacity", opacity);
              };
            }

            function embiggen(d, size) {
                d3.select("#"+d.toLowerCase().replace(/[.',\s]/g,""))
                    .transition().duration(100)
                        .style("font-size", size);
            }
        </script>
    </body>
</html>