{% extends "base.html" %}
{% block content %}
  <h1>Index</h1>
  <ul>
  	{% for alpha, facList in faculty|dictsort %}
  	<li>
      <div id="factab-alpha-{{alpha|lower}}">
        <h3>{{alpha}}</h3>
        <ul>
          {% for facChunk in facList %}
            <li><a href="#fac-{{alpha|lower}}-{{loop.index}}">{{loop.index}}</a></li>
          {% endfor %}
        </ul>
        {% for facChunk in facList %}
          <div id="fac-{{alpha|lower}}-{{loop.index}}">
            {% for fac in facChunk %}
              <span>{{fac.name}}</span><br/>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </li>
  	{% endfor %}
  </ul>
  <ul>
  	{% for dept in depts |sort%}
  	<li>{{dept}}</li>
  	{% endfor %}
  </ul>
{% endblock %}
{% block pagejs %}
  <script>
    $(function() {
      $("[id^=factab").tabs();
    });
  </script>
{% endblock %}