<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>

    body {
      font: 10px sans-serif;
      width: 1200px;
      margin: 0 auto;
    }

    header {
      background-color: purple;
      height: 120px;
    }

    .node {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    .link {
      stroke: #999;
      stroke-opacity: .6;
    }

/*    .legendBox table {
      width: 900px;
    }

    .column {
      width: 30%;
    }

    .columnRow {
      margin: 0 0 5px 0;
      padding: 0 0 0 2em;
      font-size: 1.3em;
      vertical-align: top;
      background-color: #FFF;
    }*/

    .legendBox .columnRow.selected {
      background-color: rgba(128,128,128,0.5);
    }
    
    .bug {
      float: left;
      width: 10px;
      height: 10px;
      margin: 3px 5px;
      /*border: 1px solid rgba(0, 0, 0, .2);*/
    }

/*    .legendLabel {
      float:right;
    }*/

/*    .graphBox {
      width: 900px;
    }

    .legendBox {
      width: 900px;
    }*/

/*    .operationsBox table {
      width: 300px;
      font-size: 1.5em;
    }
*/
    .operationsBox td {
      vertical-align: top;
    }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!--     <link rel="stylesheet" src="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}"></script> -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="page-header">
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12 graphBox">
            </div>
          </div>
          <div id="legendColumns" class="row legendBox">
          </div>
        </div>
        <div class="col-md-3 sidebar operationsBox">
          <div id="tabs">
            <ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      var depts = {{ legend|tojson|safe }};

      var deptURIs = {{ deptMap|tojson|safe }};

      var pageLabel = {{ pageLabel|tojson|safe }}

      var graph = {{ vizdata|tojson|safe }};

      var facURIs = {{ facMap|tojson|safe }};

      var linkDist = {{linkDist|tojson|safe}};

      var repel = {{repel|tojson|safe}};

      var crange = {{crange|tojson|safe}};

      var facObjs = {{faculty|tojson|safe}};

      var force_uri_base = "http://localhost:8000/force/";

      var width = 900,
          height = 800;

      var color = d3.scale.ordinal().domain(depts).range(crange);

      console.log("facObjs: ", facObjs);
      console.log("facObjs[1]: ", facObjs[1]);

      var force = d3.layout.force()
          .charge(repel)
          .linkDistance(linkDist)
          .size([(width - 300), height]);

      var svg = d3.select("div.graphBox").append("svg")
          .attr("width", width)
          .attr("height", height);

      // var legend = d3.legend.color().shape("circle")
      //   .shapePadding(10)
      //   .scale(color)
      //   .title("Departments")
      //   .on("cellclick", function(d) {
      //       var deptCode = deptURIs[d].substring(33);
      //       window.location.replace(force_uri_base + "dept/" + deptCode);
      //   })
      //   .on("cellover", function(d) {
      //               embiggen(d,15)
      //           })
      //   .on("cellout", function(d) {
      //       embiggen(d,10)
      //   });

        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        var link = svg.selectAll(".link")
            .data(graph.links)
          .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.selectAll(".node")
            .data(graph.nodes)
          .enter().append("circle")
            .attr("class", "node")
            .attr("id", function(d) {
              return d.name.toLowerCase().replace(/[.',\s]/g,"");
            })
            .attr("r", 10)
            .style("fill", function(d) { return color(d.group); })
            .on("click", function(d) {
                var facCode = facURIs[d.name].substring(33);
                window.location.replace(force_uri_base + "faculty/" + facCode);
            })
            .on("mouseover", function(d) {
                d3.select("#"+d.name.toLowerCase().replace(/[.',\s]/g,"")).transition().duration(100).attr("r",20);
            })
            .on("mouseout", function(d) {
                d3.select("#"+d.name.toLowerCase().replace(/[.',\s]/g,"")).transition().duration(100).attr("r",10);
            })
            .call(force.drag);

        node.append("title")
            .text(function(d) { return d.name; });

        force.on("tick", function() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("cx", function(d) { return d.x; })
              .attr("cy", function(d) { return d.y; });
        });

      $(function() {
        $( "#tabs" ).tabs();
      });

      function embiggen(d, size) {
                d3.select("#"+d.toLowerCase().replace(/[.',\s]/g,""))
                    .transition().duration(100)
                        .style("font-size", size);
            }

      function buildLegend(targetDiv) {
        var lBox = $(targetDiv);
        var i,j,subd,chunk = Math.ceil(depts.length/3);
        for (i=0,j=depts.length; i<j; i+=chunk) {
            subd = depts.slice(i,i+chunk);
            var col = document.createElement("div")
            col.setAttribute("class","col-md-4");
            subd.forEach(function(dept){
              var cr = document.createElement("div");
              cr.setAttribute("class","columnRow")
              var span = document.createElement("span")
              span.setAttribute("class","legendLabel");
              var bug = document.createElement("span");
              bug.setAttribute("class", "bug");
              bug.setAttribute("style", "background: "+color(dept));
              span.innerHTML = dept;
              cr.appendChild(bug);
              cr.appendChild(span);
              $(cr).on("mouseover", function(e) {
                $(targetDiv).find("div.columnRow").removeClass("selected");
                $(this).addClass("selected");
              });
              col.appendChild(cr);
            });
            lBox.append(col);
        }
      }
      buildLegend("#legendColumns");

      // function buildOperations(targetDiv) {
      //   var oBox = $(targetDiv);
      //   var tabCtrl = oBox.find("ul");
      //   var i,j,subd,chunk = 20;
      //   for (i=0,j=facObjs.length; i<j; i+=chunk) {
      //       facSlice = facObjs.slice(i,i+chunk);
      //       var tab = document.createElement("li");
      //       var tabId = "tabs-"+((i/chunk)+1).toString();
      //       var tabLink = document.createElement("a");
      //       var tabLabel;
      //       var alpha1 = facSlice[0].name.charAt(0);
      //       var alpha2 = facSlice[9].name.charAt(0);
      //       if (alpha1 === alpha2) {
      //         tabLabel = alpha1;
      //       } else {
      //         tabLabel = alpha1 + " - " + alpha2;
      //       }
      //       tabLink.setAttribute("href", "#"+tabId);
      //       tabLink.innerHTML = tabLabel;
      //       tab.appendChild(tabLink);
      //       var col = document.createElement("div");
      //       col.setAttribute("class","col-md-6");
      //       col.setAttribute("id", tabId);
      //       facSlice.forEach(function(fac){
      //         var cr = document.createElement("div");
      //         cr.setAttribute("class","columnRow")
      //         var span = document.createElement("span");
      //         span.innerHTML = fac.abbv + ".";
      //         cr.appendChild(span);
      //         col.appendChild(cr);
      //       });
      //     tabCtrl.append(tab);
      //     oBox.append(col);
      //   }
      // }  
      // buildOperations("#tabs");

      function chunkList(list, chunkLen) {
        var chunkedList = [];
        for (i=0,j=list.length; i<j; i+=chunkLen) {
          var chunk = list.slice(i,i+chunkLen);
          chunkedList.push(chunk);
        }
        return chunkedList;
      }

      function addRowsToColumn(list, col, rowMaker) {
        list.forEach(function(item) {
          var row = rowMaker(item);
          col.appendChild(row);
        })
        return col;
      }

      function makeLegendRow(data) {
        var cr = document.createElement("div");
        cr.setAttribute("class","legendRow")
        var span = document.createElement("span")
        span.setAttribute("class","legendLabel");
        var bug = document.createElement("span");
        bug.setAttribute("class", "legendBug");
        // bug.setAttribute("style", "background: " + color(data));
        span.innerHTML = data;
        cr.appendChild(bug);
        cr.appendChild(span);
        return cr;
      }

      function makeFacultyRow(facObj) {
        var cr = document.createElement("div");
        cr.setAttribute("class","facultyRow")
        var span = document.createElement("span");
        span.innerHTML = facObj.abbv + ".";
        cr.appendChild(span);
        return cr;
      }

      function buildFacultyTabs(targetDiv, facultyList) {
        var fBox = $(targetDiv);
        var tabCtrl = fBox.find("ul");
        var chunkedFaculty = chunkList(facultyList, 20);
        var facultyStacks = chunkList(chunkedFaculty, 2);
        facultyStacks.forEach(function(stack) {
          var tab = document.createElement("li");
          var tabId = "tabs-"+facultyStacks.indexOf(stack).toString();
          var tabLink = document.createElement("a");
          var tabLabel;
          var alpha1 = stack[0][0].name.charAt(0);
          var alpha2 = stack[stack.length-1][stack[stack.length-1].length-1].name.charAt(0);
          if (alpha1 === alpha2) {
            tabLabel = alpha1;
          } else {
            tabLabel = alpha1 + " - " + alpha2;
          }
          tabLink.setAttribute("href", "#"+tabId);
          tabLink.innerHTML = tabLabel;
          tab.appendChild(tabLink);
          tabCtrl.append(tab);
          var stackDiv = document.createElement("div");
          stackDiv.setAttribute("class","col-md-12");
          stackDiv.setAttribute("id", tabId);
          stack.forEach(function(colData) {
            var col = document.createElement("div");
            col.setAttribute("class","col-md-6");
            col.setAttribute("id", tabId);
            col = addRowsToColumn(colData, col, makeFacultyRow);
            stackDiv.appendChild(col);
          });
          fBox.append(stackDiv);
        });
      }

      buildFacultyTabs("#tabs", facObjs);

    </script>
  </body>
</html>