{% extends "base.html" %}
{% block content %}
  <h1>Index</h1>
  <ul>
  	{% for alpha, facList in faculty|dictsort %}
  	<li>
        <h3>{{alpha}}</h3>
        <ul>
          {% for facChunk in facList %}
            <li><a href="#factab-{{alpha|lower}}-{{loop.index}}">{{loop.index}}</a></li>
          {% endfor %}
        </ul>
        {% for facChunk in facList %}
          <div id="factab-{{alpha|lower}}-{{loop.index}}">
            {% for fac in facChunk %}
              <span>{{fac.name}}</span><br/>
            {% endfor %}
          </div>
        {% endfor %}
    </li>
  	{% endfor %}
  </ul>
  <ul>
  	{% for dept in depts |sort%}
  	<li>{{dept}}</li>
  	{% endfor %}
  </ul>
{% endblock %}
{% block pagejs %}
  <script>
    // $(function() {
    //   $( "#tabs" ).tabs();
    // });
  </script>
{% endblock %}