{% extends "base.html" %}
{% block pagecss %}
<style>
  /*body {
    font: 10px sans-serif;
    width: 1200px;
    margin: 0 auto;
  }

  header {
    background-color: purple;
    height: 120px;
  }*/

  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  svg {
    width: 100%;
    height: 600px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .ui-tabs-nav {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
  }

  .ui-tabs-nav li {
    margin: 0 5px;
    padding: 0 5px;
/*    border: 1px solid #AAA;*/
    background-color: none;
    display: inline-block;
  }

  .ui-tabs-nav li.ui-tabs-active {
    background-color: #d3d3d3;
    color: #000;
  }

/*  .bugHouse {
    float: left;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
  }*/

  #groupsBox {
    border: 1px solid gray;
    padding: 5px 5px 5px 10px;
  }

  #membersBox {
    border: 1px solid gray;
/*    padding: 5px 5px;*/
  }

  #thumb {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
  }

  .deptBug {
    float: left;
    width: 10px;
    height: 10px;
    margin: 3px 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  .slct-ctrl {
    background-color: #d3d3d3;
  }
</style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 graphBox">
          </div>
        </div>
        <div id="factabs" class="row">
          <div class="row">
            <div class="col-md-12">
              <ul>
                {% for tab in faculty %}
                  <li><a href="#factab-{{loop.index}}">{{tab.tab}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            {% for tab in faculty %}
              <div id="factab-{{loop.index}}">
                {% for col in tab.faculty %}
                  <div class="col-md-3">
                    <ul>
                      {% for fac in col %}
                        <li id="{{fac.rabid}}" class="faculty-ctrl">
                          <a href="{{fac.graphid}}">{{fac.abbv}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
<!--         <div id="groupsBox" class="row">
          {% for column in departments%}
            <div class="col-md-4">
              <ul>
                {% for dept in column %}
                  <li id="{{ dept.rabid }}" class="dept-ctrl">
                    <span id="bug-{{dept.rabid}}" class="deptBug"></span>
                    <a href="{{dept.graphid}}">{{dept.name}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div> -->
      </div>
      <div id="membersBox" class="col-md-4">
        <div id="subjectDetails" class="row">
          <div class="col-md-12">
            {% if vizSubject.thumb %}
              <img id="thumb" src="{{ vizSubject.thumb }}" />
            {% endif %}
            <h2>{{ vizSubject.name }}</h2>
            {% if vizSubject.title %}
              <h3>{{ vizSubject.title }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block pagejs %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
  <script type="text/javascript">

    var facObjs = {{ facObjs|tojson|safe }};

    var deptObjs = {{ deptObjs|tojson|safe }};

    var colorScale = {{ colorScale|tojson|safe}};

    var graph = {{ vizdata|tojson|safe }};

    var linkDist = {{linkDist|tojson|safe}};

    var repel = {{repel|tojson|safe}};

    var crange = {{crange|tojson|safe}};

    var force_uri_base = "http://localhost:8000/force/";

    var color = d3.scale.ordinal().domain(colorScale).range(crange);

    var force = d3.layout.force()
        .charge(repel)
        .linkDistance(linkDist)
        .size([800, 600]);

    var svg = d3.select("div.graphBox").append("svg");

      force
          .nodes(graph.nodes)
          .links(graph.links)
          .start();

      var link = svg.selectAll(".link")
          .data(graph.links)
        .enter().append("line")
          .attr("class", "link")
          .style("stroke-width", function(d) { return Math.sqrt(d.value); });

      var node = svg.selectAll(".node")
          .data(graph.nodes)
        .enter().append("circle")
          .attr("class", "node")
          .attr("r", 10)
          .style("fill", function(d) { return color(d.group); })
          .call(force.drag);

      node.append("title")
          .text(function(d) { return d.name; });

      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      });

    $(function() {
      $("#factabs").tabs();
      $(".deptBug").each(function () {
          setDeptColor($(this));
      });
      $(".faculty-ctrl").each(function () {
          attachFacultyNodes($(this));
      });
      $(".dept-ctrl").each(function () {
          attachDepartmentNodes($(this));
      });
    });

    function setDeptColor(deptBug) {
      var group = deptBug.attr('id').substring(4);
      deptBug.attr("style", "background: "+color(group));
    }

    function attachFacultyNodes(facCtrl) {
      var rabid = facCtrl.attr('id');
      var facIndex = facObjs[rabid]["facIdx"];
      var subnet = facObjs[rabid]["facNet"];
      subnet.push(facIndex);
      var nodes = $(".node").filter(function (index) {
        return $.inArray(index, subnet) > -1;
      });
      var facNode = $(".node").eq(facIndex);
      var timer;
      facCtrl
        .hover(function() {
          $(this).addClass("slct-ctrl");
          timer = setTimeout( function () {
            focusSubNet(nodes);
          }, 1000);
        },
        function() {
          clearTimeout(timer);
          $(this).removeClass("slct-ctrl");
          unfocusSubNet(nodes);
        });
    }

    function attachDepartmentNodes(deptCtrl) {
      var rabid = deptCtrl.attr("id");
      var nodeKeys = deptObjs[rabid]["deptMembers"];
      var nodes = $(".node").filter(function (index) {
        return $.inArray(index, nodeKeys) > -1;
      });
      var timer;
      deptCtrl
        .hover(function() {
          $(this).addClass("slct-ctrl");
          timer = setTimeout( function () {
            focusSubNet(nodes);
          }, 1000);
        },
        function() {
          clearTimeout(timer);
          $(this).removeClass("slct-ctrl");
          unfocusSubNet(nodes);
        });
    }

    function focusSubNet(subnet) {
      subnet.addClass("subnet").velocity({ r: 12 });
      $(".node").not(".subnet").velocity({ r: 5 });
    }

    function unfocusSubNet(subnet) {
      subnet.removeClass("subnet");
      $(".node").velocity({ r: 10 });
    }

  </script>
{% endblock %}