<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>

    body {
      font: 10px sans-serif;
    }

    .node {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    .link {
      stroke: #999;
      stroke-opacity: .6;
    }

    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3-legend.min.js') }}"></script>
  </head>
  <body>
    <script type="text/javascript">

      var depts = {{ legend|tojson|safe }};

      var graph = {{ vizdata|tojson|safe }};

      var facURIs = {{ facMap|tojson|safe }};

      var force_uri_base = "http://localhost:8000/force/";

      var width = 1200,
          height = 800;

      var color = d3.scale.category20().domain(depts);

      var force = d3.layout.force()
          .charge(-1200)
          .linkDistance(40)
          .size([(width - 300), height]);

      var svg = d3.select("body").append("svg")
          .attr("width", width)
          .attr("height", height);

      var legend = d3.legend.color().shape("circle")
        .shapePadding(10)
        .scale(color)
        .title("Departments");

        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        var link = svg.selectAll(".link")
            .data(graph.links)
          .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.selectAll(".node")
            .data(graph.nodes)
          .enter().append("circle")
            .attr("class", "node")
            .attr("r", 10)
            .style("fill", function(d) { return color(d.group); })
            .on("click", function(d) {
                var facCode = facURIs[d.name].substring(33);
                window.location.replace(force_uri_base + "faculty/" + facCode);
            })
            .call(force.drag);

        node.append("title")
            .text(function(d) { return d.name; });

        force.on("tick", function() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("cx", function(d) { return d.x; })
              .attr("cy", function(d) { return d.y; });
        });

      svg.append("g").attr("class", "legend")
        .attr("transform", 'translate(' + (width - 300) + ',' + (height * 0.15) +')');

      svg.select(".legend").call(legend);

    </script>
  </body>
</html>